[workspace]
resolver = "3"
members = ["crates/*"]

[workspace.package]
edition = "2024"
license = "MIT"
version = "0.1.1"
description = "A simple actor framework for Rust."
repository = "https://github.com/Anillc/sactor"
homepage = "https://github.com/Anillc/sactor"
